# Proof Network configuration.
# See more: https://docs.zkm.io/dev/prover.html#network-prover
ZKM_PROVER="network"
#ZKM_PROVER="local"
ENDPOINT=https://152.32.186.45:20002/
#ENDPOINT=https://152.32.185.32:20402/
ZKM_PRIVATE_KEY=

TOOL="../circuits"
#TOOL="."
CA_CERT_PATH=${TOOL}/tool/ca.pem
SSL_CERT_PATH=${TOOL}/tool/ssl.pem
SSL_KEY_PATH=${TOOL}/tool/ssl.key

ZKM_PROOF_POLL_INTERVAL=1000
#MAX_PROVER_NUM=8
#SINGLE_NODE=true